* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color:#F8F7F4;
}
#main {
    height: 100%;
    width: 100%;
    background-color:#F8F7F4;
    padding-top: 0.1px;
}
#nav{
    margin-top: 4vh;
    height: 10vh;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-between;
}